USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_in_assy]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 05/08/2026
-- Description:	update สถานะ in_assembly
-- =============================================
-- in_assy
CREATE PROCEDURE [dbo].[Stored_tb_assy_in_assy]
    @tag_id VARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM tb_master_assy_status WHERE id = 2)
    BEGIN
        SELECT 'INVALID_STATUS' AS result
        RETURN
    END

    DECLARE @lot_no VARCHAR(15)
    SELECT @lot_no = lot_no FROM tb_assy_lot WHERE tag_id = @tag_id

    IF @lot_no IS NULL
    BEGIN
        SELECT 'TAG_NOT_FOUND' AS result
        RETURN
    END

    UPDATE tb_assy_lot
    SET status_id = 2, updated_at = GETDATE()
    WHERE tag_id = @tag_id

    INSERT INTO tb_assy_log (lot_no, tag_id, event_type, remark)
    VALUES (@lot_no, @tag_id, 'IN_ASSY', 'Scanned in assembly')

    SELECT 'OK' AS result
END
GO
