USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_register]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 05/08/2026
-- Edit date 1 : 17/08/2026
-- Description:	register lot กับ tag
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_register]
    @lot_no        VARCHAR(15),
    @wos           VARCHAR(10),
    @brg_type      VARCHAR(30),
    @spec          VARCHAR(15),
    @qty           INT,
    @tag_id        VARCHAR(50),
    @location_name VARCHAR(100) = NULL
AS BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM tb_master_assy_status WHERE id = 1)
    BEGIN SELECT 'INVALID_STATUS' AS result RETURN END

    IF EXISTS (SELECT 1 FROM tb_assy_lot WHERE lot_no = @lot_no)
    BEGIN SELECT 'LOT_ALREADY_EXISTS' AS result RETURN END

    IF EXISTS (SELECT 1 FROM tb_assy_lot WHERE tag_id = @tag_id AND status_id != 4)
    BEGIN SELECT 'TAG_IN_USE' AS result RETURN END

    IF NOT EXISTS (SELECT 1 FROM tb_assy_wos WHERE wos = @wos)
        INSERT INTO tb_assy_wos (wos, brg_type, spec)
        VALUES (@wos, @brg_type, @spec)

    INSERT INTO tb_assy_lot (lot_no, wos, qty, tag_id, status_id, location_name)
    VALUES (@lot_no, @wos, @qty, @tag_id, 1, @location_name)

    INSERT INTO tb_assy_tag (tag_id, lot_no, status)
    VALUES (@tag_id, @lot_no, 'active')

    INSERT INTO tb_assy_log (lot_no, tag_id, event_type, location_name, remark)
    VALUES (@lot_no, @tag_id, 'REGISTER', @location_name, 'Tag registered')

    SELECT 'OK' AS result
END
GO
