USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_gauging_room_f1]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 17/08/2026
-- Description:	update สถานะ gauging
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_gauging_room_f1]
    @tag_id        VARCHAR(50),
    @location_name VARCHAR(100) = NULL
AS BEGIN
    SET NOCOUNT ON;

    DECLARE @lot_no    VARCHAR(15)
    DECLARE @status_id INT

    SELECT @lot_no = lot_no, @status_id = status_id
    FROM tb_assy_lot WHERE tag_id = @tag_id

    IF @lot_no IS NULL
    BEGIN SELECT 'TAG_NOT_FOUND' AS result RETURN END

    -- ต้องมาจาก bf_issue เท่านั้น
    IF @status_id != 1
    BEGIN SELECT 'INVALID_PROCESS' AS result RETURN END

    IF NOT EXISTS (SELECT 1 FROM tb_master_assy_status WHERE id = 2)
    BEGIN SELECT 'INVALID_STATUS' AS result RETURN END

    UPDATE tb_assy_lot SET
        status_id     = 2,
        location_name = @location_name,
        updated_at    = GETDATE()
    WHERE tag_id = @tag_id

    INSERT INTO tb_assy_log (lot_no, tag_id, event_type, location_name)
    VALUES (@lot_no, @tag_id, 'GAUGING_ROOM_F1', @location_name)

    SELECT 'OK' AS result
END
GO
