USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_mock_as400_select]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 05/08/2026
-- Description:	เรียกดูข้อมูลจาก mockup มาใช้
-- =============================================
-- in_assy
CREATE PROCEDURE [dbo].[Stored_tb_assy_mock_as400_select]
    @lot_no VARCHAR(15)
AS
BEGIN
    SELECT 
        m.lot_no, m.wos, m.brg_type, m.spec, m.qty
    FROM tb_assy_mock_as400 m
    WHERE m.lot_no = @lot_no
END

GO
