USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_login_update]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 13/08/2026
-- Description:	Update Login
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_login_update]
	-- Add the parameters for the stored procedure here
	@id INT,
    @eng_name NVARCHAR(50),
    @eng_surname NVARCHAR(50),
    @position NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRY
	   UPDATE tb_assy_login SET
	   eng_name = @eng_name, eng_surname = @eng_surname,
		position = @position
	   WHERE id = @id
	SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH

END
GO
