USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_login_insert]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 13/08/2026
-- Description:	Insert Login
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_login_insert]
	-- Add the parameters for the stored procedure here
	@emp_id varchar(10),
    @eng_name NVARCHAR(100),
    @eng_surname NVARCHAR(100),
    @password NVARCHAR(50),
    @position NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
    -- Insert statements for procedure here
	   INSERT INTO tb_assy_login (
	   emp_id, eng_name, eng_surname,
	   password, position )
	   VALUES (@emp_id, @eng_name, @eng_surname,
	   @password,@position)
	SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH

END
GO
