USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_dashboard_process_summary]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stored_tb_assy_dashboard_process_summary]
AS BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.process_code,
        p.process_name,
        ISNULL(SUM(l.qty), 0) AS inventory_qty
    FROM tb_master_process p
    LEFT JOIN tb_master_assy_status s ON s.process_id = p.id
    LEFT JOIN tb_assy_lot l ON l.status_id = s.id AND l.status_id != 4
    GROUP BY p.id, p.process_code, p.process_name
    ORDER BY p.process_code ASC
END
GO
