USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_login_verify]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 13/08/2026
-- Description:	Verify Login
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_login_verify]
	-- Add the parameters for the stored procedure here
	@emp_id varchar(10),
	@password varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		id, emp_id, eng_name, eng_surname, position
	FROM tb_assy_login
		WHERE emp_id = @emp_id AND password = @password
END
GO
