USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_mock_done_insert]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 14/08/2026
-- Description:	mockup ให้ยิงถามว่า lot มีอยู่ในนี้รึยัง ถ้ามีให้ clear tag อัตโนมัติ
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_mock_done_insert]
    @lot_no VARCHAR(15)
AS BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM tb_assy_mock_done WHERE lot_no = @lot_no)
    BEGIN
        SELECT 'ALREADY_EXISTS' AS result
        RETURN
    END
    INSERT INTO tb_assy_mock_done (lot_no) VALUES (@lot_no)
    SELECT 'OK' AS result
END
GO
