USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_api_log_insert]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 14/08/2026
-- Description:	insert api log
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_api_log_insert]
    @api_type VARCHAR(50), @method VARCHAR(10), @url VARCHAR(500),
    @request_params VARCHAR(500), @request_body VARCHAR(MAX),
    @http_status INT, @status VARCHAR(50),
    @response VARCHAR(MAX), @error_msg VARCHAR(500), @response_time_ms INT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO tb_assy_api_log
    (api_type, method, url, request_params, request_body, http_status, status, response, error_msg, response_time_ms)
    VALUES
    (@api_type, @method, @url, @request_params, @request_body, @http_status, @status, @response, @error_msg, @response_time_ms)
END
GO
