USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_dashboard_history]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stored_tb_assy_dashboard_history]
    @date_from     DATE        = NULL,
    @date_to       DATE        = NULL,
    @brg_type      VARCHAR(30) = NULL,
    @wos           VARCHAR(10) = NULL,
    @lot_no        VARCHAR(15) = NULL,
    @status_id     INT         = NULL,
    @location_name VARCHAR(100) = NULL
AS BEGIN
    SET NOCOUNT ON;
    SELECT TOP 200
        l.tag_id, l.lot_no, l.wos, l.qty,
        l.status_id, m.label_status,
        w.brg_type, w.spec,
        l.location_name, l.machine_no,
        l.emp_id, l.remark,
        l.created_at, l.updated_at
    FROM tb_assy_lot l
    LEFT JOIN tb_assy_wos w ON w.wos = l.wos
    LEFT JOIN tb_master_assy_status m ON m.id = l.status_id
    WHERE l.status_id != 4
        AND (@date_from     IS NULL OR CAST(l.created_at AS DATE) >= @date_from)
        AND (@date_to       IS NULL OR CAST(l.created_at AS DATE) <= @date_to)
        AND (@brg_type      IS NULL OR w.brg_type      LIKE '%' + @brg_type      + '%')
        AND (@wos           IS NULL OR l.wos            LIKE '%' + @wos           + '%')
        AND (@lot_no        IS NULL OR l.lot_no         LIKE '%' + @lot_no        + '%')
        AND (@status_id     IS NULL OR l.status_id       = @status_id)
        AND (@location_name IS NULL OR l.location_name  LIKE '%' + @location_name + '%')
    ORDER BY l.updated_at DESC
END
GO
