USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_lot_by_tag]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 14/08/2026
-- Edit date: 25/08/2026
-- Description:	lot by tag
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_lot_by_tag]
    @tag_id VARCHAR(50) = NULL,
    @lot_no VARCHAR(15) = NULL
AS BEGIN
    SET NOCOUNT ON;
    SELECT l.lot_no, l.wos, l.qty, l.tag_id, l.status_id,
           w.brg_type, w.spec
    FROM tb_assy_lot l
    LEFT JOIN tb_assy_wos w ON w.wos = l.wos
    WHERE l.status_id != 4
        AND (
            (@tag_id IS NOT NULL AND l.tag_id = @tag_id)
            OR
            (@lot_no IS NOT NULL AND l.lot_no = @lot_no)
        )
END
GO
