USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_assy_log]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_assy_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lot_no] [varchar](15) NULL,
	[tag_id] [varchar](50) NULL,
	[event_type] [varchar](50) NULL,
	[location_name] [varchar](100) NULL,
	[machine_no] [varchar](30) NULL,
	[emp_id] [varchar](10) NULL,
	[remark] [varchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__tb_assy___3213E83F5BA657D7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_assy_log] ADD  CONSTRAINT [DF__tb_assy_l__times__31EC6D26]  DEFAULT (getdate()) FOR [created_at]
GO
