USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_mock_done_select]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 14/08/2026
-- Description:	mockup ตอนนี้ยังไม่ใช้
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_mock_done_select]
AS BEGIN
    SET NOCOUNT ON;
    SELECT * FROM tb_assy_mock_done ORDER BY created_at DESC
END
GO
