USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_change_process]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 17/08/2026
-- Description:	เปลี่ยน Process
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_change_process]
    @tag_id        VARCHAR(50),
    @status_id     INT,
    @location_name VARCHAR(100) = NULL,
    @remark        VARCHAR(500) = NULL,
    @emp_id        VARCHAR(50)  = NULL
AS BEGIN
    SET NOCOUNT ON;

    DECLARE @lot_no VARCHAR(15)

    SELECT @lot_no = lot_no FROM tb_assy_lot WHERE tag_id = @tag_id

    IF @lot_no IS NULL
    BEGIN SELECT 'TAG_NOT_FOUND' AS result RETURN END

    IF NOT EXISTS (SELECT 1 FROM tb_master_assy_status WHERE id = @status_id)
    BEGIN SELECT 'INVALID_STATUS' AS result RETURN END

    IF (SELECT status_id FROM tb_assy_lot WHERE tag_id = @tag_id) = 4
    BEGIN SELECT 'ALREADY_COMPLETED' AS result RETURN END

    IF (SELECT status_id FROM tb_assy_lot WHERE tag_id = @tag_id) = @status_id
    BEGIN SELECT 'SAME_STATUS' AS result RETURN END

    UPDATE tb_assy_lot SET
        status_id     = @status_id,
        location_name = @location_name,
        remark        = @remark,
        emp_id        = @emp_id,
        updated_at    = GETDATE()
    WHERE tag_id = @tag_id

    INSERT INTO tb_assy_log (lot_no, tag_id, event_type, location_name, remark, emp_id)
    VALUES (@lot_no, @tag_id, 'CHANGE_PROCESS', @location_name, @remark, @emp_id)

    SELECT 'OK' AS result
END
GO
