USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_dashboard]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Stored_tb_assy_dashboard]
    @date_from  DATE        = NULL,
    @date_to    DATE        = NULL,
    @brg_type   VARCHAR(30) = NULL,
    @wos        VARCHAR(10) = NULL,
    @lot_no     VARCHAR(15) = NULL,
    @status_id  INT         = NULL
AS BEGIN
    SET NOCOUNT ON;

    -- Resultset 1: Summary cards — ไม่นับ completed (status_id = 4)
    SELECT
        SUM(CASE WHEN l.status_id != 4 THEN l.qty ELSE 0 END)        AS total_qty,
        SUM(CASE WHEN l.status_id = 1 THEN l.qty ELSE 0 END)         AS bf_issue,
        SUM(CASE WHEN l.status_id = 2 THEN l.qty ELSE 0 END)         AS gr_f1,
        SUM(CASE WHEN l.status_id = 3 THEN l.qty ELSE 0 END)         AS mc_f1
    FROM tb_assy_lot l
    LEFT JOIN tb_assy_wos w ON w.wos = l.wos
    WHERE
        (@date_from IS NULL OR CAST(l.created_at AS DATE) >= @date_from)
        AND (@date_to   IS NULL OR CAST(l.created_at AS DATE) <= @date_to)
        AND (@brg_type  IS NULL OR w.brg_type LIKE '%' + @brg_type + '%')
        AND (@wos       IS NULL OR l.wos      LIKE '%' + @wos      + '%')
        AND (@lot_no    IS NULL OR l.lot_no   LIKE '%' + @lot_no   + '%')
        AND (@status_id IS NULL OR l.status_id = @status_id);

    -- Resultset 2: Top 5 Part No. by lot — ไม่นับ completed
    SELECT TOP 5
        w.brg_type,
        COUNT(*) AS total_qty
    FROM tb_assy_lot l
    LEFT JOIN tb_assy_wos w ON w.wos = l.wos
    WHERE l.status_id != 4
        AND (@date_from IS NULL OR CAST(l.created_at AS DATE) >= @date_from)
        AND (@date_to   IS NULL OR CAST(l.created_at AS DATE) <= @date_to)
        AND (@status_id IS NULL OR l.status_id = @status_id)
    GROUP BY w.brg_type
    ORDER BY total_qty DESC;

    -- Resultset 3: Table TOP 200 — ไม่นับ completed
    SELECT TOP 200
        l.tag_id, l.lot_no, l.wos, l.qty,
        l.status_id, m.label_status,
        w.brg_type, w.spec,
        l.location_name, l.machine_no,
        l.created_at, l.updated_at
    FROM tb_assy_lot l
    LEFT JOIN tb_assy_wos w ON w.wos = l.wos
    LEFT JOIN tb_master_assy_status m ON m.id = l.status_id
    WHERE l.status_id != 4
        AND (@date_from IS NULL OR CAST(l.created_at AS DATE) >= @date_from)
        AND (@date_to   IS NULL OR CAST(l.created_at AS DATE) <= @date_to)
        AND (@brg_type  IS NULL OR w.brg_type LIKE '%' + @brg_type + '%')
        AND (@wos       IS NULL OR l.wos      LIKE '%' + @wos      + '%')
        AND (@lot_no    IS NULL OR l.lot_no   LIKE '%' + @lot_no   + '%')
        AND (@status_id IS NULL OR l.status_id = @status_id)
    ORDER BY l.updated_at DESC;
END
GO
