USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_assy_mock_done_delete]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 14/08/2026
-- Description:	mockup ลบ lot งาน
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_assy_mock_done_delete]
    @lot_no VARCHAR(15)
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM tb_assy_mock_done WHERE lot_no = @lot_no
    SELECT 'OK' AS result
END
GO
